# Configurações do Painel Admin
ADMIN_USER=admin
ADMIN_PASS=suasenhaforte123
JWT_SECRET=super_secret_key_change_in_production

# Credenciais Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=YOUR_PRODUCTION_ACCESS_TOKEN_HERE
